@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');


/* renkler */

$bg-color: #122e44;
$text-color: #fff;
$header: #23282D;
$aqua: #24CAAC;
$pink: #e0376f;

/* geçişler */
$transition: all .5s ease-in-out;


/* font-size */
$tittle: 50px;
