@import "variables";
@import "header";
@import "home";
@import "software";
@import "certificate";
@import "achievement";
@import "about";
@import "contact";
@import "footer";
@import "responsive";




html{
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: 'Montserrat', sans-serif;
}

img{
    width: 100%;
}

section{
    padding: 100px 0;
    background-color: $bg-color;
}

.section__tittle{
  
        margin-bottom: 30px;
        &-h{
            position: relative;
            text-align: center;
            color: $text-color;
            font-size: 30px;
            transition: $transition;
            &:hover{
                background-color: $aqua;
                cursor: pointer;
            }
    }
}